body {
  font-family: 'Arial', sans-serif, bold;
  text-align: center;
  margin-top: 100px;
  position: relative; /* Set position relative for the body */
  background-color: #080808;
}

button {
  background-color: #1e10e2;
  border: (2, 4);
  color: rgb(250, 247, 247);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(8, 39, 241, 0.909);
}

button:hover {
  cursor: auto;
  background-color: #010006;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

p {
  text-align: center;
  font-size: 20px;
}

p1 {
  text-align: center;
  color: white;
  font-size: 20px;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  padding: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f5efef;
  padding: 80px;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #f5efef;
  padding: 0px;
  text-align: center;
}

h4 {
  font-size: 40px;
  font-weight: bold;
  color: #f5efef;
  padding: 10px;
  text-align: center;
}

/* Popup Styles */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cfd4d9;
  border: 5px solid #ccc;
  padding: 50px;
  box-shadow: 15px 10px 30px rgba(8, 39, 241, 0.909);
}

.popup {
  display: flex;
  flex-direction: column;
}

.popup label {
  margin-bottom: 10px;
}

.popup input {
  padding: 8px;
  margin-bottom: 15px;
}

.popup button {
  padding: 10px 20px;
  background-color: #1e10e2;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.popup button:hover {
  background-color: #010006;
}

.rotate-image,
.image1,
.image2,
.image3,
.image4 {
  position: absolute;
  width: 25%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  animation: spin 8s linear infinite;
  box-shadow: 10px 5px 20px rgba(8, 39, 241, 0.909);
}

/* Set initial positions using percentages */
.image1 {
  top: %;
  right: 10%;
}

.image2 {
  top: 35%;
  left: 3%;
  width: 20%;
}

.image3 {
  top: 32%;
  right: 4%;
  width: 20%;
}

.image4 {
  top: %;
  left: 10%;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.main-image {
  grid-column: 1 / span 2;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.box {
  display: flex;
  justify-content: center;
}

.welcome-message {
  color: white;
}

.card-body {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.search-results-container {
  display: flex;
  flex-wrap: wrap;
}

.main-image {
  flex: 1;
  margin-right: 20px;
}

.main-image img {
  max-width: 100%;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
}

.search-result {
  width: 33.33%; /* 3 items per row */
  padding: 10px;
  box-sizing: border-box;
}

.search-result img {
  width: 100%;
  height: auto;
}

.info {
  margin-top: 10px;
  color:blue;
}

.title {
  font-weight: bold;
  color: blue
}

.price {
  color: blue;
}

.search-result.selected {
  border: 2px solid blue;
}

.item.selected {
  border: 2px solid blue;
}

.price {
  color: blue;
}
