body {
    font-family: 'Arial', sans-serif, bold;
    background-color: #080808;
  }
  
  button {
    background-color: #1e10e2;
    border: (2,4);
    color: rgb(250, 247, 247);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;    
    box-shadow: 5px 5px 15px rgba(8, 39, 241, 0.909);

  }
  
  button:hover {
    cursor: auto;
    background-color: #010006
  }    
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  p { 
    text-align: center;
    font-size: 20px;
    
  }
  
h1 {
  font-size: 45px; 
  font-weight: bold;
  color: #ffffff; 
  padding: 50px; 
  text-align: center
}

h2 {
  font-size: 30px; 
  font-weight: bold;
  color: #f5efef; 
  padding: 50px; 
  text-align: center
}
h3 {
  font-size: 30px; 
  font-weight: bold;
  color: #f5efef; 
  padding: 0px; 
  text-align: center
}

h4 {
  font-size: 40px; 
  font-weight: bold;
  color: #f5efef; 
  padding: 10px; 
  text-align: center
}

  /* Popup Styles */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cfd4d9;
  border: 5px solid #ccc;
  padding: 50px;
  box-shadow: 15px 10px 30px rgba(8, 39, 241, 0.909);
}

.popup {
  display: flex;
  flex-direction: column;
}

.popup label {
  margin-bottom: 10px;
}

.popup input {
  padding: 8px;
  margin-bottom: 15px;
}

.popup button {
  padding: 10px 20px;
  background-color: #1e10e2; 
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.popup button:hover {
  background-color: #010006
}

body {
  font-family: 'Arial', sans-serif, bold;
  text-align: center;
  margin-top: 100px;
  position: relative; /* Set position relative for the body */
}

.rotate-image, .image1, .image2, .image3, .image4 {
  position: absolute;
  width: 25%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  animation: spin 8s linear infinite;
  box-shadow: 10px 5px 20px rgba(8, 39, 241, 0.909);
}

/* Set initial positions using percentages */
.image1 { top: %; right: 10%; }
.image2 { top: 35%; left: 3%; width: 20%}
.image3 { top: 32%; right: 4%; width: 20% }
.image4 { top: %; left: 10%; }






  